<!DOCTYPE html>
<html>
  <head>
    <title>Mediumapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Large.</h1>
      <p>The New Medium</p>
      <div class="user-details">
        <% if @user %>
          <p><%= @user.name %></p>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= react_component 'LoginForm' %>
          <p>Don't have an account?</p>
          <%= link_to 'Sign up here.', signup_path %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
